header {
	position: fixed;
	left: 0; right: 0;
	top: 0;
	z-index: 9999;


	.logo {
		transition: margin-top 0.8s;
		z-index: 3;
		display: inline-block;
		text-decoration: none;
		height: 50px;
		width: 50px;
		position: relative;
		margin-left: 90px;
		margin-top: 90px;

		@media(max-width: 992px) {
			margin-left: 30px;
			margin-top: 30px;
		}

		@media(max-width: 576px){ 
			margin-left: 15px;
			margin-top: 15px;
		}

		.logo-default-state {
			position: absolute;
			left: 0; top: 0; bottom: 0;
			width: 50px;
			z-index: 1;
			transition: width 200ms;
		}

		.logo-hover-state {
			position: absolute;
			left: 0; top: 0; bottom: 0;
			width: 0px;
			z-index: 2;
			transition: width 300ms;
		}

		&:hover {
			.logo-default-state {
				width: 0px;
				transition: width 200ms;
			}

			.logo-hover-state {
				width: 120px;
				transition: width 200ms;
			}
		}
	}

	.menu-toggler {
		transition: margin-top 0.8s;
		outline: 0;
		float: right;
		margin-right: 93px;
		margin-top: 103px;
		height: 23px;
		width: 36px;
		background: transparent;
		border: none;
		cursor: pointer;
		position: relative;

		@media(max-width: 992px) {
			margin-right: 33px;
			margin-top: 40px;
		}

		@media(max-width: 576px){ 
			margin-right: 15px;
			margin-top: 25px;
		}

		.menu-toggler__default-state, .menu-toggler__hover-state {
			position: absolute;
			left: 0; top: 0; bottom: 0;
		}

		.menu-toggler__default-state {
			width: 100%;
		}

		.menu-toggler__hover-state {
			width: 0%;
			transition: width 200ms;
		}

		&:hover {
			.menu-toggler__hover-state {
				width: 100%;
			}
		}
	}

	&.white-objects{

		.logo {
			.logo-default-state {
				background: url('../images/logo_w.svg') no-repeat 0 0;
			}
			.logo-hover-state {
				background: url('../images/logo_mause_w.svg') no-repeat 0 0;
			}
		}

		.menu-toggler {
			.menu-toggler__default-state {
				background: url('../images/menu_w.svg') no-repeat 0 0;
			}
			.menu-toggler__hover-state {
				background: url('../images/menu_mause_w.svg') no-repeat 0 0;
			}
		}
	}

	&.black-objects{

		.logo {
			.logo-default-state {
				background: url('../images/logo_b.svg') no-repeat 0 0;
			}
			.logo-hover-state {
				background: url('../images/logo_mause_b.svg') no-repeat 0 0;
			}
		}

		.menu-toggler {
			.menu-toggler__default-state {
				background: url('../images/menu_b.svg') no-repeat 0 0;
			}
			.menu-toggler__hover-state {
				background: url('../images/menu_mause_b.svg') no-repeat 0 0;
			}
		}
	}
}

header.scrolled {
	padding-bottom: 23px;
	background-color: #fff;
	.logo {
		margin-top: 25px;
	}
	.menu-toggler {
		margin-top: 40px;
	}
	
	@media(max-width: 576px) {
		padding-bottom: 15px;
		.logo{
			margin-top: 15px;
		}
		.menu-toggler {
			margin-top: 25px;
		}
	}

}
